<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script> -->
<!-- <script src="/static/JSXTransformer-0.13.2.js"></script> -->
<!-- <script src="/static/react-with-addons-0.14.3.js"></script> -->
<!-- <script src="/static/react-dom-0.14.3.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script> -->
<!-- <script src="/static/babel-core-5.8.38.min.js"></script> -->
<!-- <script type="text/babel" src="/static/boggle.js"></script> -->
<!-- <script type="text/jsx" src="/static/boggle.js"></script> -->

<!-- <input type="hidden" id="action" value="{{ action }}"/> -->
<!-- <div id="page">Loading...</div> -->
