{% include 'header.html' %}

<div class="gameArea">
    <div class="leftCol">
        <form method="get">
            <h1 class="scale">Boggle 2.0 Lobby</h1>
            <p class="scale">Welcome, {{ username }}! Select a game type, or join an existing game.</p>
            <input class="radioHide" type="radio" name="preset" id="5x5" value="5x5" checked>
            <label class="leftCol grayBox" for="5x5">
                5x5, find words with 4 letters or more in 3 minutes<br/>
                <img class="hideSmall" src="/static/boggle_img/5x5.png" style="width:70%"/>
            </label>

            <input class="radioHide" type="radio" name="preset" id="4x4" value="4x4">
            <label class="rightCol grayBox" for="4x4">
                4x4, find words with 3 letters or more in 3 minutes<br/>
                <img class="hideSmall" src="/static/boggle_img/4x4.png" style="width:70%"/>
            </label>

            <input class="radioHide" type="radio" name="preset" id="custom" value="custom">
            <label class="singleCol grayBox" for="custom">
                <select class="customSelect" name="size">
                        <option>2x2</option>
                        <option>3x3</option>
                        <option>4x4</option>
                        <option>5x5</option>
                        <option selected>6x6</option>
                        <option>7x7</option>
                </select>,
                <select class="customSelect" name="size">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option selected>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                </select> letters,
                <select class="customSelect" name="size">
                        <option>0.5</option>
                        <option>1</option>
                        <option>2</option>
                        <option selected>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                </select> minutes
            </label>
            <input type="hidden" name="username" value="{{ username }}"/>
            <input type="hidden" name="action" value="pregame"/>
            <input class="greenButton" type="submit" value="Create Game"/>
        </form>
    </div>
    <div class="rightCol">
        <h2 class="scale" style="margin-bottom: 1em">Current Games</h2>

        <div id="vue">
            <div v-for="game in games" class="grayBox">
                <div style="padding: 5px; border-bottom: 2px solid black;">
                <form method="get">
                    <span v-if="!game.isStarted">
                        <input class="greenButton" type="submit" value="Join"/>
                        Game #[[ game.gameID ]] (waiting...)
                        <input type="hidden" name="action" value="pregame"/>
                    </span>
                    <span v-else-if="!game.isDone">
                        <input class="blueButton" type="submit" value="Spectate"/>
                        Game #[[ game.gameID ]] (time left: [[ showTime(game.timeLeft) ]])
                        <input type="hidden" name="action" value="play"/>
                    </span>
                    <span v-else>
                        <input class="purpleButton" type="submit" value="View"/>
                        Game #[[ game.gameID ]] (time's up!)
                        <input type="hidden" name="action" value="view"/>
                    </span>
                    <input type="hidden" name="username" value="{{ username }}"/>
                    <input type="hidden" name="gameID" :value="game.gameID"/>
                </form>
                </div>
                <div>
                    [[ game.size ]], [[ game.letters ]] letters, [[ game.minutes ]] min, [[ game.players.length ]] players:
                    <span v-for="(player, i) in game.players"><span v-if="i>0">, </span>[[ player ]]</span>
                </div>
            </div>
        </div>

        <form method="get">
            <input type="hidden" name="username" value="{{ username }}"/>
            <input type="hidden" name="action" value="stats"/>
            <input class="purpleButton" type="submit" value="Past Games, Records & Stats"/>
        </form>
    </div>
    <div class="singleCol"></div>
</div>

{% include 'boggle/common.html' %}

<script>
    new Vue ({
        delimiters: ['[[',']]'],
        el: "#vue",
        data: {
            games: [
                {
                    gameID: 13,
                    isStarted: false,
                    isDone: false,
                    timeLeft: 3*60,
                    size: "5x5",
                    letters: 4,
                    minutes: 3,
                    players: ["johanv", "JonV", "monarchofmany"]
                },
                {
                    gameID: 12,
                    isStarted: true,
                    isDone: false,
                    timeLeft: 4*60+3,
                    size: "5x5",
                    letters: 4,
                    minutes: 5,
                    players: ["johanv", "JonV", "monarchofmany"]
                },
                {
                    gameID: 11,
                    isStarted: true,
                    isDone: true,
                    timeLeft: 0,
                    size: "4x4",
                    letters: 3,
                    minutes: 3,
                    players: ["johanv", "JonV", "monarchofmany"]
                }
            ]
        },
        methods: {
            //show time in the mm:ss format, with zero-padding on the seconds
            showTime: function (t) {
                var minutes = Math.floor(t / 60);
                var seconds = (t % 60);
                return minutes + ':' + (minutes < 10 ? '0' : '') + seconds;
            }
        }
    });
</script>

{% include 'footer.html' %}
