{% include 'header.html' %}

<div class="gameArea"><form method="get">
    <div class="leftCol">
        <h1 class="scale">Boggle 2.0<span class="hideLarge"> Time: 2:46</span></h1>
        <img src="/static/boggle_img/5x5.png" style="width: 70%">
        <p class="scale">Words need at least {{ minLetters }} letters!</p>
    </div>
    <div class="rightCol">
        <h1 class="scale hideSmall">Time: 2:46</h1>
        <input type="text" class="underlineText" id="name" name="username" placeholder="Word" required autofocus  style="float: left; margin: 10px;"/>
        <input class="greenButton" type="submit" value="Add" style="float: left; margin: 10px;"/>
        <input class="redButton" type="submit" value="X" style="float: left; margin: 10px;"/>
        <br/><br/><br/>
        <div style="border-bottom: 2px solid black;">tintless, tossers, adorn, ascend, carless, extents, lessoned</div>
        <br/>
        {% if isHost %}
        host (you): {{ username }}<br/>
        {% else %}
        host: {{ host }}<br/>
        you: {{ username }}<br/>
        {% endif %}
        <h2>3 players total</h2>
        johanv, JonV, monarchofmany
    </div>
    <div class="singleCol"></div>
</form></div>

{% include 'boggle/common.html' %}
{% include 'footer.html' %}
