{% include 'header.html' %}

<div id="app" class="gameArea extraSpace" v-cloak><form method="get">
    <!-- <div class="leftCol" style="position: fixed; left: 0"> -->
    <div class="leftCol leftCol2">
        <h1 class="scale hideSmall">Boggle 2.0
            <!-- <span class="hideLarge"> Time's Up!</span> -->
        </h1>
        <table v-if="game != undefined" class="boggleBoard noselect"><tbody>
                <tr v-for="(row, i) in game.board">
                    <td v-for="(item, j) in row">
                        <div>
                            <span v-if="item == 'Qu'" v-bind:style="styleObjectQu">[[ item ]]</span>
                            <span v-else v-bind:style="styleObject">[[ item ]]</span>
                        </div>
                    </td>
                </tr>
        </tbody></table>
        <form method="get">
            <input type="hidden" name="username" value="{{ username }}"/>
            {% if prev == "stats" %}
            <input type="hidden" name="page" value="stats"/>
            <input class="purpleButton" type="submit" value="Back to Stats"/>
            {% else %}
            <input type="hidden" name="page" value="lobby"/>
            <input class="greenButton" type="submit" value="Back to Lobby"/>
            {% endif %}
        </form>
    </div>
    <div class="rightCol scoreTable">
        <h1 class="scale hideSmall">Time's Up!</h1>
        <p v-if="game != undefined" class="scale"><span style="background-color: #0c0; padding:3px; border-radius: 5px;">[[ game.winner ]]</span> wins with [[ game.winnerScore ]] points!</p>
        <div v-if="game != undefined" class="compactText">
                Game #[[ game.id ]]: [[ game.size ]]x[[ game.size ]] board, words with [[ game.letters ]] at least letters, [[ game.minutes ]] minute timer.<br/><br/>
                It took [[ (Math.round(game.secondsToSolve * 100) / 100).toFixed(2) ]] seconds for the computer to solve this board.<br/>
                [[ game.maxWords ]] possible words, [[ game.maxScore ]] possible points.<br/>
                [[ (Math.round(game.percentFound * 100) / 100).toFixed(2) ]]% of words were found by all the players collectively.<br/>
            <table border=1 cellpadding=7>
                <thead><tr>
                    <td v-for="player in game.players">[[ player ]]</td>
                    <!-- <td>johanv</td><td>Jonv</td><td style="background-color: #0c0;">monarchofmany</td><td>verylongusername1</td><td>verylongusername2</td><td>verylongusername3</td><td>verylongusername4</td> -->
                </tr></thead>
                <tbody><tr>
                    <td v-for="player in game.players">
                        <span v-if="player in game.playerData">[[ game.playerData[player].score ]] points<br/>[[ game.playerData[player].numWords ]] words</span>
                        <span v-else>NO DATA</span>
                    </td>
                    <!-- <span class="vhide">|</span> -->
                    <!-- <td>7 points<br/>5 words</td><td>8<span class="vhide">|</span>points<br/>7 words</td><td style="background-color: #0c0;">12 points<br/>7 words</td> -->
                </tr><tr>
                    <td v-for="player in game.players" style="vertical-align:top">
                        <span v-if="player in game.playerData">
                            <span v-for="word in game.playerData[player].words">[[ calculatePoints(word) ]] [[ word ]]<br/></span>
                        </span>
                        <span v-else>NO DATA</span>
                    </td>
                    <!-- <td style="vertical-align:top">0 <span style="background-color: tomato; color: #fff">aced</span><br/>2 adorn<br/>0 <span style="color: #a00">arson</span><br/>0<span style="visibility: hidden">|</span><span style="color: #a00">ascend</span><br/>5<span style="visibility: hidden">|</span>ascends</td><td style="vertical-align:top">0 <span style="color: #a00">arson</span><br/>1 care<br/>2 cares<br/>2 cars<br/>0<span style="visibility: hidden">|</span><span style="color: #a00">cedar</span><br/>3<span style="visibility: hidden">|</span>cedars<br/>0 <span style="color: #a00">aced</span></td><td style="vertical-align:top; background-color: #0c0;">0 <span style="color: #a00">arson</span><br/>0 <span style="color: #a00">ascend</span><br/>1 dare<br/>2 dares<br/>1 done<br/>3 extent<br/>5 extents</td> -->
                </tr></tbody>
                <!-- text-decoration: line-through -->
            </table>
        </div>
        <div class="compactText" style="padding-left: 20px" v-if="game != undefined">
            <br/>
            All possible words for this board:<br/><br/>
            <span v-for="word in game.words">[[ calculatePoints(word) ]] [[ word ]]<br/></span>
            <span style="color:green; font-weight:bold"></span>
        </div>
    </div>
    <div class="singleCol"></div>

</form></div>

{% include 'boggle/common.html' %}

<script>
    const app = new Vue ({
        delimiters: ['[[',']]'],
        el: "#app",
        data: {
            game: undefined,
            styleObject: undefined,
            styleObjectQu: undefined
        },
        created () {
            this.getGame();
        },
        methods: {
            getGame: function() {
                fetch('?request=game&id={{ id }}')
                .then(response => response.json())
                .then(json => {
                    this.game = json.game
                    console.log(this.game)
                    this.isHost = (this.game.players[0] == this.username)
                    this.updateLetterSize()
                })
            },
            updateLetterSize: function() {
                if (window.innerWidth > 540) {
                    fontSize = 27;
                } else {
                    fontSize = 50;
                }
                this.styleObject = {fontSize: (fontSize / this.game.size) + 'vw'};
                this.styleObjectQu = {fontSize: (fontSize*.7 / this.game.size) + 'vw'};
            },
            calculatePoints: function(word) {
                l = word.length;
                if (l > 8) {
                    l = 8;
                }
                return [0,1,1,1,1,2,3,5,11][l]
            }
        },
        mounted () {
            this.interval = setInterval(() => {
                if (!this.game.isArchived) {
                    this.getGame();
                }
            }, 5000);
            let self = this;
            window.onresize = function() {
                self.updateLetterSize();
            }
        }
    });

    //have to wait for the page to load to access the footer
    window.onload = function() {
    // hide the footer since it gets in the way
        document.getElementsByTagName('footer')[0].style.display = "none";
    }
</script>

{% include 'footer.html' %}
