{% include 'header.html' %}

<div id="app" class="gameArea extraSpace" v-cloak><form method="get">
    <!-- <div class="leftCol" style="position: fixed; left: 0"> -->
    <div class="leftCol leftCol2">
        <form method="get">
            <input type="hidden" name="username" value="{{ username }}"/>
            <input type="hidden" name="page" value="{{ prev }}"/>
            <input style="position: relative; top: 2px; float: left;" class="{% if prev == 'stats' %}purpleButton{% else %}greenButton{% endif %}" type="submit" value="Back to {{ prev[0]|upper }}{{ prev[1:] }}"/>
        </form>
        <h1 class="scale">Boggle 2.0</h1>
        <table v-if="game != undefined" class="boggleBoard noselect"><tbody>
                <tr v-for="(row, i) in game.board">
                    <td v-for="(item, j) in row">
                        <div>
                            <span v-if="item == 'Qu'" v-bind:style="styleObjectQu">[[ item ]]</span>
                            <span v-else v-bind:style="styleObject">[[ item ]]</span>
                        </div>
                    </td>
                </tr>
        </tbody></table>
    </div>
    <div class="rightCol scoreTable">
        <h1 v-if="!game.isArchived" class="scale hideSmall">Time's Up!</h1>
        <h1 v-else class="scale hideSmall">Past Game</h1>
        <p v-if="game != undefined" class="scale"><span style="background-color: #4f4; padding:3px; border-radius: 5px;">
            <span v-for="(winner, i) in game.winners"><span v-if="i>0">, </span>[[ winner ]]</span>
        </span>
        <span v-if="game.isArchived">
            <span v-if="game.winners.length > 1">tied</span><span v-else>won</span>
        </span>
        <span v-else>
            <span v-if="game.winners.length > 1">tie</span><span v-else>wins</span>
        </span>
        with [[ game.winScore ]] points!</p>
        <div v-if="game != undefined" class="compactText">
            Game #[[ game.id ]]: [[ game.size ]]x[[ game.size ]] board, words with [[ game.letters ]] at least letters, [[ game.minutes ]] minute timer.<br/><br/>
            <span v-if="'words' in game">
                It took [[ (Math.round(game.secondsToSolve * 100) / 100).toFixed(2) ]] seconds for the computer to solve this board.<br/>
                [[ game.maxWords ]] words were possible for a max score of [[ game.maxScore ]] possible points.<br/>
                [[ game.numWordsPlayersFound ]] words ([[ (Math.round(game.percentFound * 100) / 100).toFixed(2) ]]% of words) were found by players. [[ game.duplicates ]] were duplicates.<br/>
            </span>
            <span v-else>
                The computer is still solving the board. This will update when it's done.<br/>
            </span>
            <br/>
            <table class="grayTable" style="white-space: nowrap;" v-if="game != undefined">
                <thead><tr>
                    <th v-for="player in game.players" :style="'max-width: 100px; overflow: auto;' + (game.winners.indexOf(player) == -1 ? '' : 'background-color: #4f4')">[[ player ]]</th>
                </tr></thead>
                <tbody><tr>
                    <td v-for="player in game.players" :style="game.winners.indexOf(player) == -1 ? '' : 'background-color: #4f4'">
                        <span v-if="player in game.playerData">
                            <span style="font-weight: bold;">[[ game.playerData[player].score ]] points</span><br/>
                            [[ game.playerData[player].numWords ]] words
                        </span>
                        <span v-else-if="!game.isArchived">Waiting for<br/>results...</span>
                        <span v-else>Left the<br/>game :(</span>
                    </td>
                </tr><tr>
                    <td v-for="player in game.players" :style="'vertical-align:top;' + (game.winners.indexOf(player) == -1 ? '' : 'background-color: #4f4')">
                        <span v-if="player in game.playerData">
                            <span v-for="[word, isDup] in Object.entries(game.playerData[player].words)">
                                <span v-if="isDup" style="color: #e22" v-on:click="showDefinition(word)">
                                    0 [[ word ]]
                                </span>
                                <span v-else v-on:click="showDefinition(word)">
                                    [[ calculatePoints(word) ]] [[ word ]]
                                </span>
                                <br/>
                            </span>
                        </span>
                        <!-- <span v-else>NO DATA</span> -->
                    </td>
                </tr></tbody>
                <!-- text-decoration: line-through -->
            </table>
        </div>
        <div class="compactText" style="padding-left: 20px" v-if="game != undefined">
            <br/>
            <span v-if="'words' in game">
                All [[ game.maxWords ]] possible words for this board.<br/>
                Click on a word to see the definition.<br/>
                Sort by:
                <button onclick="app.sortByPoints = true;">Points</button>
                <button onclick="app.sortByPoints = false;">Alphabetical</button>
                <br/><br/>
                <span v-if="sortByPoints"><span v-for="word in wordsPointsByPoints">
                    <span v-on:click="showDefinition(word[0])" :style="found.includes(word[0]) ? 'color:green; font-weight:bold' : ''">
                        [[ word[1] ]] [[ word[0] ]]
                    </span>
                    <br/>
                </span></span>
                <span v-else><span v-for="word in wordsPointsAlphabetical">
                    <span v-on:click="showDefinition(word[0])" :style="found.includes(word[0]) ? 'color:green; font-weight:bold' : ''">
                        [[ word[1] ]] [[ word[0] ]]
                    </span>
                    <br/>
                </span></span>
            </span>
        </div>
    </div>
    <div class="singleCol"></div>
    <div id="popup">
        <button class="close" onclick="document.getElementById('popup').style.display = 'none';">x</button>
        <div class="message"></div>
    </div>
</form></div>

{% include 'boggle/common.html' %}

<script>
    const app = new Vue ({
        delimiters: ['[[',']]'],
        el: "#app",
        data: {
            game: undefined,
            styleObject: undefined,
            styleObjectQu: undefined,
            sortByPoints: true
        },
        computed: {
            found: function () {
                if (this.game == undefined) {
                    return [];
                }
                found = [];
                for (player in this.game.playerData) {
                    for (word in this.game.playerData[player].words) {
                        found.push(word);
                    }
                }
                return found;
            },
            wordsPointsAlphabetical: function () {
                wpAlpha = [];
                for (word of this.game.words.sort()) {
                    wpAlpha.push([word, this.calculatePoints(word)]);
                }
                return wpAlpha;
            },
            wordsPointsByPoints: function () {
                return this.wordsPointsAlphabetical.slice().sort(function(a,b){return b[1]-a[1]});
            }
        },
        created () {
            this.getGame();
        },
        methods: {
            getGame: function() {
                fetch('?request=game&id={{ id }}')
                .then(response => response.json())
                .then(json => {
                    this.game = json.game
                    console.log(this.game)
                    this.isHost = (this.game.players[0] == this.username)
                    this.updateLetterSize()
                })
            },
            updateLetterSize: function() {
                if (window.innerWidth > 540) {
                    scaleFactor = 27*4/5;
                } else {
                    scaleFactor = 50;
                }
                fontSize = scaleFactor / this.game.size;

                this.styleObject = {fontSize: fontSize + 'vw'};
                this.styleObjectQu = {fontSize: fontSize*.7 + 'vw'};
            },
            calculatePoints: function(word) {
                l = word.length;
                if (l > 8) {
                    l = 8;
                }
                return [0,1,1,1,1,2,3,5,11][l]
            },
            showDefinition: function(word) {
                fetch('?request=definition&word=' + word)
                .then(response => response.json())
                .then(json => {
                    popup = document.getElementById("popup");
                    popup.style.display = "block";
                    closeButton = popup.children[0];
                    message = popup.children[1];
                    message.innerHTML = '<p style="text-align: center">' + word + '</p><p class="compactText">' + json.definition + '</p>';

                    console.log(json.definition);
                })
            }
        },
        mounted () {
            this.interval = setInterval(() => {
                if (!this.game.isArchived) {
                    this.getGame();
                }
            }, 5000);
            let self = this;
            window.onresize = function() {
                self.updateLetterSize();
            }
        }
    });

    //have to wait for the page to load to access the footer
    window.onload = function() {
    // hide the footer since it gets in the way
        document.getElementsByTagName('footer')[0].style.display = "none";
    }
</script>

{% include 'footer.html' %}
