{% include 'header.html' %}

<form method="GET">
<input type="checkbox" name="profanity" value="true"{% if allowProfanity %} checked{% endif %}>Allow Profanity?<br/>
<div style="font-size:50px">
CARL: {{ carl }}<br/>
YOU: {{ user }}<br/>
CARL: {{ carl2 }}<br/>
YOU: <input autofocus="autofocus" onfocus="this.select()" type="text" name="user" autocomplete="off" style="height:75px">
<input type="hidden" name="carl" value="{{ carl2 }}"><br/>
<input type="submit" value="Talk">
</div></form>

{% include 'footer.html' %}
