{% include 'header.html' %}

<form method="GET">
<input type="checkbox" style="border: 1px solid black" name="profanity" value="true"{% if allowProfanity %} checked{% endif %}>Allow Profanity?<br/>
<div style="font-size:25px">
<span style="color: #3b3">CARL: {{ carl }}</span><br/>
<span class="purple">YOU: {{ user }}</span><br/>
<span style="color: #3b3">CARL: {{ carl2 }}</span><br/>
<input type="hidden" name="carl" value="{{ carl2 }}">

<div>
    <span class="purple" style="float: left">YOU:</span>&nbsp;
    <input type="submit" value="Talk" class="purpleButton" style="float:right">
    <input autofocus type="text" name="user" autocomplete="off" style="height:25px; font-size: 20px; width: calc(100% - 160px); min-width: 100px;"><br/>
</div>

</div></form>
<br/><br/>
<h1>About</h1>
<p>Disclaimer: I am not responsible for anything CARL says. He learns phrases from other people, and it's possible for some offensive stuff to get past the profanity filter. Use at your own risk.</p>
<p>CARL (Chatbot with Automatic and Rapid Learning) is a computer program that learns by talking to people. It memorizes the phrases that you say to it, and the links between what CARL said and what you said. Over time, it has a more and more complete vocabulary, which creates the illusion that it knows what it's talking about. But most of the time it just says random stuff to get more knowledge about phrases that have fewer links.</p>

<h1>API</h1>
<p style="overflow: hidden;">This page is the nice user interface for CARL. There is also <a href="https://games.johanv.net/carl_api">another page</a> that is the raw response from CARL based on inputs. For example, if you wanted to input <code>"Hello World"</code> you would send a request to <code>https://games.johanv.net/carl_api?user=Hello+World</code>. And if you want to allow profanity, add <code>&profanity=true</code> to your request.</p>
<p>If you want to embed a "CARL says" widget into your website, copy and paste this HTML code into your page:</p>
<textarea style="width: 100%;" rows=5>&lt;a href="https://games.johanv.net/carl"&gt;CARL says:&lt;/a&gt;&lt;br/&gt;&lt;object height="60" width="315" data="https://games.johanv.net/carl_api"&gt;&lt;/object&gt;</textarea>

{% include 'footer.html' %}
