{% include 'header.html' %}

<h2>Johan's Circular Maze Generator</h2>

<button onclick="gen()">regenerate</button>
levels: <input id="num_levels" type="number" min="1", max="100" value="16" style="width: 50px">
big every: <input id="big_level_every" type="number" min="1", max="100" value="4" style="width: 50px">
resolution: <input id="img_size" type="number" min="100", max="5000" value="2000" style="width: 50px">
max arc length: <input id="max_arc_length" type="number" min="0.1", max="3" step="0.01" value="0.8" style="width: 50px">
max gaps ratio: <input id="max_gaps_ratio" type="number" min="0", max="1" step="0.01" value=".25" style="width: 50px">
narrow line: <input id="narrow_line_width" type="number" min="0.001", max="0.1" step="0.0001" value=".002" style="width: 50px">
wide line: <input id="wide_line_width" type="number" min="0.001", max="0.1" step="0.0001" value=".007" style="width: 50px">
foreground: <input id="foreground_color" type="text" value="black" style="width: 50px">
background: <input id="background_color" type="text" value="#FFF0" style="width: 75px">
<label>debug?<input id="debug" type="checkbox"></label>

<br>
<img id="maze" onload="resize_img()" src="/maze-gen" alt="image of circular maze" style="display: block; margin: auto">

<script>
    function gen() {
        document.getElementById('maze').src = '/maze-gen?'+
            'num_levels='+encodeURIComponent(document.getElementById('num_levels').value)+'&'+
            'big_level_every='+encodeURIComponent(document.getElementById('big_level_every').value)+'&'+
            'img_size='+encodeURIComponent(document.getElementById('img_size').value)+'&'+
            'max_arc_length='+encodeURIComponent(document.getElementById('max_arc_length').value)+'&'+
            'max_gaps_ratio='+encodeURIComponent(document.getElementById('max_gaps_ratio').value)+'&'+
            'narrow_line_width='+encodeURIComponent(document.getElementById('narrow_line_width').value)+'&'+
            'wide_line_width='+encodeURIComponent(document.getElementById('wide_line_width').value)+'&'+
            'foreground_color='+encodeURIComponent(document.getElementById('foreground_color').value)+'&'+
            'background_color='+encodeURIComponent(document.getElementById('background_color').value)+'&'+
            'debug='+encodeURIComponent(document.getElementById('debug').value)+'&'+
            't='+(Date.now())
    }
    function resize_img() {
        document.getElementById('maze').style.width = Math.min(window.innerWidth*0.9, Math.max(100, window.innerHeight*0.9-200)) + 'px';
    }
    // window.onresize = resize_img;
</script>

{% include 'footer.html' %}
