<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>johanv.xyz | Games</title>
<meta name="description" content="Johan Vandegriff's collection of games.">
<link rel="icon" href="/static/favicon.ico?" type="image/x-icon">
</head>
<body>

<nav><ul>
<li class="active" style="width:16.666666666667%"><a href="https://johanv.xyz">Home</a></li>
<li style="width:16.666666666667%"><a href="/">Games</a></li>
<li style="width:16.666666666667%"><a href="/carl">CARL</a></li>
<li style="width:16.666666666667%"><a href="/boggle">Boggle</a></li>
<li style="width:16.666666666667%"><a href="/maze">Maze</a></li>
<li style="width:16.666666666667%"><a href="/whack">Whack-A-Mole</a></li>
</ul></nav>

