<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>johanv.xyz | Games</title>
<meta name="description" content="Johan Vandegriff's collection of games.">
<link rel="icon" href="/static/favicon.ico?" type="image/x-icon">
</head>
<body>

<nav><ul>
{% nav = [["Home", "https://johanv.xyz"], ["Games", "/"], ["CARL", "/carl"], ["Boggle", "/boggle"], ["Maze", "/maze"], ["Whack", "/whack"]] %}
{% for item in nav %}
<li{% if active == item[0] %} class="active"{% endif %} style="width:{% 100.0/len(nav) %}%"><a href="{{ item[1] }}">{{ item[0] }}</a></li>
{% endfor %}
</ul></nav>
