{% include 'header.html' %}

<script>
function newItem() {
    var list = document.getElementById("list");

    let xhr = new XMLHttpRequest();
    xhr.open('get', "/hornswiggle_api");
    xhr.send();

    xhr.onload = function () {
        var newItem = document.createElement("li");
        newItem.textContent = xhr.response;
        list.appendChild(newItem);
    };
}
</script>

<h1>Dr. Hornswiggle's Trancendental Ideation Generator</h1>
<input type="submit" value="Additional Ideation" class="purpleButton" onclick="newItem()">

<ul id="list">
    <li>{{ item }}</li>
</ul>

<p>You can see the source code for this... thing (under the <a target="_blank" href="https://tldrlegal.com/license/gnu-affero-general-public-license-v3-(agpl-3.0)">AGPLv3 license</a>) on <a target="_blank", href="https://codeberg.org/johanvandegriff/games.johanv.net/src/branch/master/hornswiggle.py">codeberg</a>, <a target="_blank" href="https://git.sr.ht/~johanvandegriff/games.johanv.net/tree/master/item/hornswiggle.py">sourcehut</a>, or <a target="_blank" href="https://github.com/johanvandegriff/games.johanv.net/blob/master/hornswiggle.py">github</a>.</p>

{% include 'footer.html' %}
