{% include 'header.html' %}

<h1>Games</h1>
<ul>
<li><a href="/boggle">Boggle</a> - a multiplayer word puzzle</li>
<li><a href="/carl">CARL</a> - a chatbot (bare API <a href="/carl_api">here</a>)</li>
<li><a href="/chem">Stoichiometry</a> - a chemical equation solver (written in Java)</li>
<li><a href="/hornswiggle">Dr. Hornswiggle's Trancendental Ideations Generator</a> - hmmm... You'd better just see for yourself.</li>
<li><a href="/maze">Circular Maze</a> - generate circular mazes of different sizes</li>
<li><a href="/maze.pl">Maze.pl</a> - an old game I wrote in perl</li>
<li><a href="/math.pl">Math.pl</a> - a math worksheet (also perl)</li>
<li><a href="/whack.pl">Whack.pl</a> - Whack-A-Mole, another perl game</li>
</ul>

<br/>

<h6><a href="https://johanv.net/">Back to main site</a></h6>

{% include 'footer.html' %}
