{% include 'header.html' %}

<h1>Games</h1>
<ul>
<li><a href="/carl">CARL</a> - a chatbot (bare API <a href="/carl_api">here</a>)</li>
<li><a href="/boggle">Boggle</a> - a multiplayer word puzzle</li>
<li><a href="/maze">Maze</a> - an old game I wrote in perl</li>
<li><a href="/whack.pl">Whack-A-Mole</a> - another perl game</li>
<li><a href="/math">Math</a> - a math worksheet (also perl)</li>
<li><a href="/chem">Stoichiometry</a> - a chemical equation solver (written in Java)</li>
</ul>

<br/>

<h6><a href="https://johanv.xyz/">Back to main site</a></h6>

{% include 'footer.html' %}
